@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

body {
  font-family: Arial, sans-serif;
}

h1,
h2 {
  color: #333;
}

form {
  margin-top: 20px;
}

form div {
  margin-bottom: 10px;
}

button {
  margin-right: 10px;
}
